<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="AWSAccessKey" value="AKIA4KM3GYVLDZK5VQOQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="AWSRegion" value="ap-southeast-2"/>
  </appSettings>
</configuration>